name: CI
on:
  pull_request:
  push:
    branches: [master]
jobs:
  nix-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v13
      with:
        install_url: https://nixos-nix-install-tests.cachix.org/serve/i6laym9jw3wg9mw6ncyrk6gjx4l34vvx/install
        install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
        extra_nix_config: |
          experimental-features = nix-command flakes
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Run Nix Flake Check
      run: nix flake check

    - name: Build library and generate haddock
      run: |
        nix build .\#nvfetcher-lib.out.doc
        cp -r ./result-doc/share/doc/nvfetcher-*/html/ docs

    - name: Run spec tests
      run: |
        nix develop --command cabal update
        nix develop --command cabal test

    - name: Run CLI with nvfetcher_example.toml
      run : nix shell --command nvfetcher --config nvfetcher_example.toml

    - name: Run generated.nix syntax check
      run : nix eval -f _sources/generated.nix

    - name: Cleanup
      run: rm -r _sources

    - name: Run Main_example.hs
      run: nix develop .\#ghcWithNvfetcher --command runghc Main_example.hs

    - name: Deploy generated haddock to github pages
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.repository_owner == 'berberman' && github.ref == 'refs/heads/master' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        cname: nvfetcher.typed.icu
